@import "fonts";
@import "custom";
@import "../../node_modules/bootstrap/scss/bootstrap";

.h1 {
    color: $color-primary-200;

    @include media-breakpoint-down(sm) {
        font-size: 25px;
    }
}

.h1-header {
    margin-bottom: 32px;
}

.h2 {
    text-transform: uppercase;
}

.h2-section {
    margin-bottom: 30px;

    @include media-breakpoint-up(sm) {
        margin-bottom: 80px;
    }
}

.h4 {
    font-weight: 600;
    line-height: 1.36;
    color: $color-primary-200;
}

.h4-section {
    margin-bottom: 20px;
}

.header {
    font-size: 15px;
    line-height: 1.36;
    color: $color-primary-200;
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 50%),
                url("../img/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;

    @include media-breakpoint-up(lg) {
        background: url("../img/main-bg.jpg");
                background-position: center;
    }
}

.header-description {
    margin-bottom: 36px;

    @include media-breakpoint-up(sm) {
        margin-bottom: 72px;
    }
}

.header-description p {
    margin-bottom: 0.5rem;

    @include media-breakpoint-up(sm) {
        margin-bottom: 0;
    }
}

.header-btn {
    width: 100%;
    margin-bottom: 75px;

    @include media-breakpoint-up(sm) {
        margin-bottom: 150px;
    }
}

.navbar-m-b {
    margin-bottom: 40px;

    @include media-breakpoint-up(sm) {
        margin-bottom: 118px;
    }
}

.nav-icon {
    @include media-breakpoint-up(sm) {
        padding-left: 20px;
    }
}

.nav-link-icon {
    padding-right: 0;
    padding-left: 0;
    margin-right: 27px;
}

.nav-item:last-child .nav-link-icon {
    margin-right: 0;
}

.section {
    background-color: $color-primary-200;
}

.section-offers {
    padding: 50px 0;

    @include media-breakpoint-up(sm) {
        padding: 98px 0 120px;
    }
}

.section-questions {
    padding: 50px 0;

    @include media-breakpoint-up(sm) {
        padding: 120px 0 200px;
    }
}

.filter-offers {
    margin-bottom: 3px;
}

.custom-select-wrap {
    margin-bottom: 25px;
}

.custom-select-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

.custom-select {
    position: relative;
    width: calc((100% / 2) - (20px * 4 / 5));
    color: $color-primary-100;
    background-color: $color-primary-200;

    @include media-breakpoint-up(sm) {
        width: calc((100% / 3) - (20px * 4 / 5));
    }

    @include media-breakpoint-up(md) {
        width: calc((100% / 5) - (20px * 4 / 5));
    }
}

.custom-select-btn {
    position: relative;
    width: 100%;
    padding: 13px 29px 13px 16px;
    font-size: $f-sz-select-btn;
    line-height: 1.33;   
    color: inherit;
    text-align-last: left;
    border: 1px solid $color-secondary-300;
    border-radius: $btn-border-radius;
    background-color: inherit;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        display: block;
        width: 13px;
        height: 13px;
        background-image: url("../img/arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.custom-select-btn-selected {
    border-color: $color-primary-300;
}

.custom-select-list {
    display: none;
}

.custom-select-list-show {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    min-height: 100%;
    max-height: 253px;
    padding: 16px 16px 0;
    font-size: $f-sz-select-list;
    line-height: 0.85;
    border: 1px solid $color-secondary-300;
    border-radius: $btn-border-radius;
    background-color: inherit;
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.04);
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 20;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.custom-select-label {
    display: block;
    margin-bottom: 20px;

    cursor: pointer;

    &:first-child {
        font-size: $f-sz-select-btn;
        font-weight: 600;
        line-height: 0.75;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.custom-select-input {
    display: none;

    &:checked {
        &~.custom-select-text {
            color: $color-primary-300;
        }
    }
}

.filter-offers-btn {
    width: 100%;
    color: $color-primary-200;

    &:hover,
    &:focus {
        color: $danger;
        background-color: transparent;
        border-color: $danger;
    }
}

.form-check-label {
    font-size: 12px;
}

.form-check-input:checked ~ .form-check-label {
    color: $form-check-input-checked-bg-color;
}

.sorting {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.33;
    color: $color-primary-100;
}

.sorting-title {
    margin-right: 16px;
}


.sorting-select {
    position: relative;
    padding-left: 21px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: block;
        width: 13px;
        height: 13px;
        background-image: url("../img/sortingicon.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.sorting-select-down {
    &::before {
        transform: rotate(180deg) translateY(50%);
    }
}

.sorting-select-btn {
    padding: 0;
    color: $color-secondary-200;
    border: none;
    background: transparent;

    &:hover {
        color: $color-primary-300;
    }
}

.sorting-select-list {
    display: none;
}

.sorting-select-list-show {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    display: block;
    width: 192px;
    max-height: 208px;
    padding: 12px;
    background-color: $color-secondary-500;
    border-radius: $btn-border-radius;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 20;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.sorting-select-label {
    margin-bottom: 12px;
    cursor: pointer;

    &:hover {
        color: $color-primary-300;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.sorting-select-input {
    display: none;
}

.offer-card {
    display: block;
    color: $color-secondary-200;
    background-color: $offer-card-bg;
    text-decoration: none;
    box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
    transition: 0.3s;

    &:hover {
        color: $color-secondary-200;
        opacity: 0.9;

        .offer-card-h6 {
            text-decoration: underline;
        }
    }

    &.offer-card-sold {
        .offer-card-img {
            filter: grayscale(100%);
        }

        .offer-card-descr {
            opacity: 0.5;
        }
    }
}

.offer-card-img {
    position: relative;
    height: 200px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.offer-card-label {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    padding: 3px 20px;
    border-radius: 0 15px 15px 0;
    font-family: $font-family-secondary;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: $color-secondary-500;
    background-color: $color-primary-100;
}

.offer-card-label-sold {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $font-family-secondary;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
    color: $color-secondary-500;
    text-transform: uppercase;
}

.offer-card-descr {
    padding: 20px 20px 35px;
}

.offer-card-year {
    margin-right: 8px;
    font-family: $font-family-secondary;
    font-size: $h6-font-size;
    line-height: 1.35;
    color: $color-secondary-200;
}

.offer-card-h6 {
    margin-bottom: 16px;
    font-family: $font-family-secondary;
    font-size: $h6-font-size;
    font-weight: 400;
    line-height: 1.35;
    color: $color-primary-100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.offer-card-specifications {
    margin: 0 0 26px;
    padding: 0;
    list-style: none;
}

.offer-card-specifications-item {
    position: relative;
    margin-right: 8px;
    padding-right: 9px;
    font-size: 14px;
    line-height: 1.35;
    font-weight: 300;

    &::first-letter {
        text-transform: uppercase;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 0;
        height: 100%;
        border-right: 1px solid $color-secondary-200;
    }

    &:last-child {
        margin-right: 0;
        padding-right: 0;

        &::after {
            display: none;
        }
    }
}

.offer-card-price {
    font-size: $offer-card-price-f-sz;
    line-height: 1.35;
    font-weight: 500;
    color: $color-primary-100;
}

.subscribe {
    padding: 40px 0 45px;
    font-size: 15px;
    line-height: 1.33;
    color: $color-primary-200;
    background-color: $color-primary-100;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @include media-breakpoint-up(sm) {
        flex-direction: row;
        column-gap: 20px;
    }
}

.subscribe-form-label {
    width: 100%;
}

.subscribe-form-input {
    height: 100%;
}

.subscribe-form-label-mistake,
.subscribe-form-label-success {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        display: block;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .subscribe-form-input {
        padding: 13px 40px 13px 16px;
    }
}

.subscribe-form-label-mistake {
    
    &::after {
        background-image: url("../img/erroricon.svg");
    }

    .subscribe-form-input {
        border-color: $color-primary-300;

        &:focus {
            border-color: $color-primary-300;
        }
    }

    .subscribe-form-mistake-msg {
        display: block;
        position: absolute;
        bottom: -20px;
        left: 17px;
        font-size: 10px;
        color: $color-primary-300;
    }
}

.subscribe-form-mistake-msg {
    display: none;
}

.subscribe-form-label-success {
    
    &::after {
        background-image: url("../img/success.svg");
    }

    .subscribe-form-input {
        border-color: $color-secondary-700;

        &:focus {
            border-color: $color-secondary-700;
        }
    }
}

.subscribe-form-input {
    width: 100%;
    padding: 13px 16px;
    font-size: 15px;
    line-height: 1.33;
    color: $color-primary-200;
    background: transparent;
    border: 1px solid $color-secondary-300;
    border-radius: $btn-border-radius;
    outline: none;

    &::placeholder {
        color: $color-primary-200;
    }

    &:focus {
        border-color: $color-secondary-200;

        &::placeholder {
            color: transparent;
        }
    }
}

.subscribe-form-btn {
    min-width: 190px;
    height: 54px;
    padding: 16px;
    font-size: 15px;
    line-height: 1.33;
    color: $color-primary-100;
    background-color: $color-primary-200;
    border: 2px solid $color-primary-200;
    border-radius: $btn-border-radius;
    box-sizing: border-box;

    &:hover {
        color: $color-secondary-500;
        background-color: transparent;
        border: 2px solid $color-secondary-300;
    }
}

.accordion-container {
    max-width: 820px;
    margin: 0 auto ;
}

.counter-list {
    list-style: none;
    counter-reset: accordion;
}

.counter-item::before {
    counter-increment: accordion;
    content: counter(accordion) ".\a0";
    align-self: start;
}

.counter-subitem::before {
    counter-increment: accordion;
    content: counters(accordion,".") "\a0";
}

.accordion-item:not(:first-of-type) {
    border-top: 1px solid $color-secondary-400;
}

.accordion-item:last-of-type {
    border-bottom: 1px solid $color-secondary-400;
}

.accordion-item.show {
    border: none;
    background-color: $color-secondary-500;
    box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);

    &+.accordion-item {
        border-top: none;
    }
}

.accordion-button {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.33;

    &[aria-expanded="true"] {
        padding-right: $accordion-body-padding-x;
        padding-left: $accordion-body-padding-x;
        font-weight: 700;
    }
}

.accordion-collapse.collapse.show {
    background-color: $accordion-button-active-bg;
}

.accordion-body {
    padding-bottom: $accordion-padding-y;
}

.accordion-body-p {
    margin-bottom: 0.5rem;
    font-size: 13px;
    line-height: 1.5;

    &:last-child {
        margin-bottom: 0;
    }
}

.footer {
    padding-top: 37px;
    padding-bottom: 36px;
    background-color: $color-primary-100;

    .logo {
        width: 191px;

        svg {
            width: 100%;
            height: auto;
        }
    }
}